<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asharya.kotlinapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinApp">
        <activity android:name=".CapitalActivity"></activity>
        <activity android:name=".CountryActivity" />
        <activity android:name=".DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewActivity" />
        <activity android:name=".CalenderActivity" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".CalculateAlertActivity" />
        <activity android:name=".AlertActivity" />
        <activity android:name=".AutoCompleteActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".GridLayoutActivity" />
        <activity android:name=".NestedLayoutActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".SiActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>